@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Noto+Sans+KR:wght@100;200;300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif; /* 한글 폰트 설정 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}
